body,
html {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* ---------------Border------------------ */
li {
  display: inline;
  position: relative;
  padding: 10%;
}
li a {
  position: relative;
  font-size: 300%;
  color: white;
  text-decoration: none;
  z-index: 2;
  top: 17.5%;
  right: -22%;
}

li a:hover {
  text-decoration: underline;
}

#tborder {
  position: sticky;
  display: inline-block;
  background-color: black;
  width: 100%;
  height: 10vh;
  top: 0;
  z-index: 3;
}

/* -----------------Section 1------------------- */

#sec_1 {
  position: relative;
  top: -125px;
  height: 100vh;
}

#About {
  position: relative;
  top: 100px;
}

#Image1 {
  position: relative;
  right: -52.25%;
  top: 10vh;
  height: 80vh;
}
#sec_1_text {
  width: 40%;
  position: relative;
  right: -100px;
  top: -560px;
  font-size: 25px;
}
#Title {
  position: relative;
  font-size: 10vh;
  text-decoration: underline;
  top: 50px;
}

/* ----------Section 2-------------- */

#sec_2 {
  position: relative;
  top: 0px;
  height: 100vh;
  background: linear-gradient(217deg, #dd2e2e, #060606, #a3277b);
  background-size: 600% 600%;

  animation: background 29s ease infinite;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  position: absolute;
}
#line1 {
  top: 0;
  left: 50%;
}
#line2 {
  top: 100vh;
  left: 50%;
}

.name {
  position: absolute;
  color: white;
  transform: translate(-50%, -50%);
  left: 50%;
}

#Name {
  top: 50%;
}

#Nameline {
  position: absolute;
  background-color: white;
  transform: translate(-50%, -50%);
  width: 15%;
  height: 2px;
  left: 50%;
  top: 54.5%;
  z-index: 1;
}
#uname {
  top: 55%;
}

/* -------------Section 3-------------- */

#sec_3 {
  position: relative;
  top: -20px;
  height: 100vh;
  background: linear-gradient(217deg, #0011ff, #000000, #00ff40);
  background-size: 600% 600%;

  animation: background 29s ease infinite;
}
#sec_3_text {
  position: relative;
  width: 45%;
  top: 11vh;
  font-size: 125%;
  right: -5%;
  height: 0%;
  color: white;
}

#guitar {
  position: relative;
  height: 80vh;
  top: 45%;
  right: -75%;
  transform: translate(-50%, -50%);
}

/* -----------------Animations---------------------- */

.line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    background-color: black;
  }
  50% {
    background-color: red;
  }
  0% {
    background-color: black;
  }
}

@keyframes background {
  0% {
    background-position: 0% 26%;
  }
  50% {
    background-position: 100% 75%;
  }
  100% {
    background-position: 0% 26%;
  }
}
